body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.titulo nav {
    font-size: medium;
    margin-left: 100px;
}


.header {
    font-size: medium;
    background-color: #f8f8f8;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
    background-color: red;
}

.titulo img {
    width: 200px;
    height: 80px;
    margin-left: 80px;
}

.titulo {
    text-align: center;
    display: flex;
    align-items: center;
}

.titulo p {
    margin-left: 100px;
    text-align: center;
}

.navbar {
    left: -40px;
}

.main {
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}

.icon-grid {
    display: flex;
    justify-content: space-around;
    background-color: #f8f8f8;
}

.menu {
    list-style: none;
    display: flex;

}

.card,
.move {
    animation-duration: 1.5s;
    animation-name: slidein;
  }
  
  @keyframes slidein{
    from {
      margin-bottom: 100%;
      width: 400%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


.card:hover{
    transform: scale(1.1);
    transition-duration: .5s;
}

.footer {
    background-color: burlywood;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 0;
    margin-top: 10px;
}

.footer.imagemfim {
    text-align: center;
}