body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: springgreen;
}

.titulo nav {
    font-size: medium;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    height: 20vh;
    width: 100%;
    padding: 0 20px;
    /* Espaçamento interno */
    box-sizing: border-box;
    /* Inclui padding e borda na largura total */
}


.titulo img {
    margin-bottom: 0;
    /* Ajusta o espaçamento inferior da imagem */
    display: flex;
}


.titulo {
    text-align: center;
    display: flex;
    align-items: center;
}

.titulo p {
    margin-left: 50px;
    margin-top: 15px;
}

.navbar {
    display: flex;
    width: 20%;
    /* Ocupa a largura total do container */
    background-color: transparent;
    margin-left: 50px;
}

.navbar-nav .nav-item {
    margin: 0 2px;
    /* Espaçamento entre os itens */
}

.navbar-nav .nav-item a {
    color: rgba(168, 168, 168, 0.527);
    /* Cor do texto */
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    /* Sombra no texto ao passar o mouse */
    padding: 10px 15px;
    /* Espaçamento interno */
    border-radius: 5px;
    /* Borda arredondada */
}

.navbar-nav .nav-item a:hover {
    text-shadow: 0 10px 4px rgba(0, 0, 0, 0.4);
    /* Sombra no texto ao passar o mouse */
    color: rgb(255, 255, 255);
    transition: text-shadow 0.2s ease;
    /* Transição suave ao passar o mouse */
}


@media screen and (max-width: 768px) {
    .navbar {
        width: 100%;
        /* Ocupa toda a largura disponível */
        justify-content: center;
        /* Centraliza os itens */
    }

    .navbar-nav .nav-item {
        margin: 0 3px;
        /* Reduz o espaçamento entre os itens */
    }

    .navbar-nav .nav-item a {
        padding: 8px 12px;
        /* Diminui o padding dos links */
        margin-left: -20px;
    }
}


.main {
    background-color: springgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.text-block,
.carrosel {
    animation-duration: 1.8s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.section {
    display: flex;
    width: 80%;
}

.container {
    align-items: center;
}

.carousel-item {
    margin-top: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-inner {
    height: 20em;
}

.text-block {
    text-align: center;
    padding: 20px;
    flex: 1;
    /* Ocupa espaço disponível da largura */
}

.text-block-left {
    margin-top: 5px;
    border-radius: 25px;
    margin-bottom: 5px;
    background-color: burlywood;
    /* Fundo cinza claro para a primeira seção de texto */
}

.text-block-right {
    margin-top: 5px;
    margin-left: 20px;
    border-radius: 25px;
    margin-bottom: 5px;
    background-color: tomato;
    /* Fundo cinza mais claro para a segunda seção de texto */
}

.botao {
    height: 40px;
    width: 100px;
    background-color: transparent;
    color: white;
    font-size: small;
    border: 3px solid green;
    border-radius: 25px;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    overflow: hidden;
    border-style: hidden;
}

.botao:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: green;
    transition: all .35s;
    border-radius: 25px;
}

.botao {
    box-shadow: 3px 3px 5px 2px black;
}

.botao span {
    position: relative;
    z-index: 2;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}


.botao:hover {
    color: black;
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.botao:hover:after {
    width: 100%;
}

.footer {
    background-color: tomato;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: relative;
    bottom: 0;
    box-sizing: border-box;
}

.footer.imagemfim {
    text-align: center;
}