body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: springgreen;
}

.titulo nav {
    font-size: medium;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    height: 20vh;
    width: 100%;
    padding: 0 20px;
    /* Espaçamento interno */
    box-sizing: border-box;
    /* Inclui padding e borda na largura total */
}


.titulo img {
    /* Define a largura máxima da imagem */
    margin-bottom: 0;
    /* Ajusta o espaçamento inferior da imagem */
}


.titulo {
    text-align: center;
    display: flex;
    align-items: center;
}

.titulo p {
    margin-left: 50px;
    margin-top: 15px;
}

.navbar {
    display: flex;
    width: 20%;
    /* Ocupa a largura total do container */
    background-color: transparent;
    margin-left: 50px;
}

.navbar-nav .nav-item {
    margin: 0 2px;
    /* Espaçamento entre os itens */
}

.navbar-nav .nav-item a {
    color: rgba(168, 168, 168, 0.527);
    /* Cor do texto */
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    /* Sombra no texto ao passar o mouse */
    padding: 10px 15px;
    /* Espaçamento interno */
    border-radius: 5px;
    /* Borda arredondada */
}

.navbar-nav .nav-item a:hover {
    text-shadow: 0 10px 4px rgba(0, 0, 0, 0.4);
    /* Sombra no texto ao passar o mouse */
    color: rgb(255, 255, 255);
    transition: text-shadow 0.2s ease;
    /* Transição suave ao passar o mouse */
}


@media screen and (max-width: 768px) {
    .navbar {
        width: 100%; /* Ocupa toda a largura disponível */
        justify-content: center; /* Centraliza os itens */
    }

    .navbar-nav .nav-item {
        margin: 0 3px; /* Reduz o espaçamento entre os itens */
    }

    .navbar-nav .nav-item a {
        padding: 8px 12px; /* Diminui o padding dos links */
        margin-left: -18px;
    }
}
.main {
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}

.icon-grid {
    display: flex;
    justify-content: space-around;
    background-color: #f8f8f8;
}

.menu {
    list-style: none;
    display: flex;

}

.carda{ 
    margin-bottom: 20px;
}

.card,
.move {
    animation-duration: 1.2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-bottom: 100%;
        width: 400%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.preco{
    margin-bottom: 15px;
}

.botao{
    margin-top: 10px;
}

.fechar{
    margin-top: 20px;
    border-radius: 25px;
    background-color: springgreen;
    height: 40px;
}

.fechar:hover{
    transform: scale(1.2);
    transition-duration: .5s;
}

.quants{
    border-radius: 10px;
    border-color: rgb(22, 22, 22);
    box-shadow: 2px 2px 2px 0.5px rgb(59, 59, 59);
    width: 50%;
    margin-left: 42px;
}

.quants:focus{
    outline: tomato;
    box-shadow: 2px 2px 2px 0.5px rgb(59, 59, 59);
}

.footer {
    z-index: -1;
    background-color: tomato;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    top: 26px;    
    position: relative;
    bottom: 0px;
    box-sizing: border-box;
}

.footer.imagemfim {
    text-align: center;
}